In [39]:
from datetime import datetime
import pandas as pd
import wikipedia as wp

# getting execution date and time
executionTime = now.strftime("_%d%m%Y_%H%M%S")
fileName = "coronavirus_outbreak_by_country_and_territory_"+executionTime+".csv"
 
# Get the html source
dataTable = wp.page("2019–20_coronavirus_outbreak_by_country_and_territory").html().encode("UTF-8")
df = pd.read_html(dataTable)[1]
df.to_csv(fileName,header=None,index=False)
print (df)

                                                    0      1       2  \
0                             Country or territory[a]  Cases  Deaths
1                             China (mainland)[22][c]  80422    3013
2                                     South Korea[22]   6088      40
3                                           Italy[23]   3858     149
4                                            Iran[22]   3513     107
5                     International conveyance[22][d]    706       6
6                                         Germany[22]    543       0
7                                          France[22]    423       7
8                                           Japan[22]    360       6
9                                           Spain[22]    259       3
10                          United States[22][24][25]    206      12
11                                      Singapore[22]    117       0
12                                 United Kingdom[22]    115       1
13                                    Switzerland[22]    114       1
14                                      Hong Kong[22]    105       2
15                                         Sweden[22]     94       0
16                                         Norway[22]     87       0
17                                    Netherlands[22]     82       0
18                                         Kuwait[22]     58       0
19                                      Australia[26]     57       2
20                                        Bahrain[22]     55       0
21                                       Malaysia[27]     55       0
22                                        Belgium[22]     50       0
23                                       Thailand[22]     47       1
24                                         Taiwan[28]     44       1
25                                        Austria[22]     41       0
26                                         Canada[22]     37       0
27                                           Iraq[22]     35       2
28                                        Iceland[22]     34       0
29                                         Greece[22]     31       0
..                                                ...    ...     ...
61                                    New Zealand[22]      3       0
62                         Bosnia and Herzegovina[22]      2       0
63                                        Hungary[22]      2       0
64                                      Indonesia[22]      2       0
65                                        Morocco[22]      2       0
66                                       Slovenia[22]      2       0
67                                          Egypt[22]      2       0
68                                    Afghanistan[22]      1       0
69                                        Andorra[22]      1       0
70                                      Argentina[22]      1       0
71                                        Armenia[22]      1       0
72                             Dominican Republic[22]      1       0
73                                         Jordan[22]      1       0
74                                         Latvia[22]      1       0
75                                  Liechtenstein[22]      1       0
76                                      Lithuania[22]      1       0
77                                     Luxembourg[22]      1       0
78                                         Monaco[22]      1       0
79                                        Nigeria[22]      1       0
80                                North Macedonia[22]      1       0
81                                         Poland[22]      1       0
82                                   South Africa[22]      1       0
83                                        Tunisia[22]      1       0
84                                        Ukraine[22]      1       0
85                                       Cambodia[22]      1       0
86                                          Nepal[22]      1       0
87                                      Sri Lanka[22]      1       0
88                                     86 territories  97893    3353
89    As of 5 March 2020 Â· History: China, othersvte    NaN     NaN
90  Notes ^ Region where case was diagnosed. Natio...    NaN     NaN

                3
0   Recoveries[b]
1           52229
2              88
3             414
4             739
5             100
6               2
7              12
8              46
9               3
10              9
11             81
12              8
13              3
14             43
15              1
16            â
17            â
18            â
19             21
20              1
21             22
22              1
23             31
24             12
25              1
26              8
27            â
28            â
29            â
..            ...
61            â
62            â
63            â
64            â
65            â
66            â
67              1
68            â
69            â
70            â
71            â
72            â
73            â
74            â
75            â
76            â
77            â
78            â
79            â
80            â
81            â
82            â
83            â
84            â
85              1
86              1
87              1
88     53,786[22]
89            NaN
90            NaN

[91 rows x 4 columns]